<div class="container">
  <div class="page_header">
    <h1><%= @company.name %></h1>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Suffix</th>
        <th>Catch Phrase</th>
        <th>Email</th>
        <th>Start Date</th>
        <th>Industry</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @company.name %></td>
        <td><%= @company.suffix %></td>
        <td><%= @company.catch_phrase %></td>
        <td><%= @company.email %></td>
        <td><%= @company.start_date %></td>
        <td><%= @company.industry %></td>
      </tr>
    </tbody>
  </table>
  <div class="page-header">
    <h3>Locations</h3>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>City</th>
        <th>Street</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.city %></td>
          <td><%= location.street_name %></td>
          <td><%= location.state %></td>
          <td><%= location.zip_code %></td>
          <td><%= location.country %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="page-header">
    <h3>Products</h3>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Department</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.department %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
